.row{
    display:grid;
    grid-template-areas: 'text1 text2 text3' ;
    gap:20px;
    place-items: end;
    text-align: start;
}
.textBox{
    size: 300px 300px;
    gap: 40px;
}
.photo1{
    background-image:url("imgLoc.jpg");
}
.h1{
    size: 45px;
    color: gray;
  }
  .h2{
    color: gray;
    size: 35px;
  }
