.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
}
.il{
    text-decoration: underline;
    color: gray;
    text-align: end;
    size: 38px;
}
.img{
    text-align: start;
}