.image{
    size: 200px 300px;
}

.galleryContainer{
    display:grid;
    grid-template-areas: 'pic1 pic2 pic3'
                            'pic4 pic5' ;
    gap:20px;
    place-items: end;
    text-align: start;
}

.image{
    grid-area:pic1;
}
.image2{
    grid-area:pic2;
}   
.image3{
    grid-area:pic3;
}
.image4{
    grid-area:pic4;
}
.image5{
    grid-area:pic5;
}
.h1{
    size: 45px;
    color: gray;
  }
  .h4{
    color: gray;
    size: 35px;
  }